<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active">home</a>
                <a mat-button routerLink="/products" routerLinkActive="active">products</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">contact</a>
            </nav>
            <a mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn" routerLink="order">
                <mat-icon>shopping_cart</mat-icon>
                Carrito
            </a>
        </div>

    </mat-toolbar-row>
</mat-toolbar>