.formContent {
    display: flex;
}

.row {
    margin-left: 10px;
}

.buttonRow {
    margin-left: 10px;
}

.rowInput {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}


/* .inputDiv {
    margin-left: 10px;
} */

img {
    width: 120px;
}