<mat-card>
    <mat-card-header>
        <mat-card-title>{{product.title | titlecase }}</mat-card-title>
        <mat-card-title>{{product.price | currency:'EUR' }}</mat-card-title>
    </mat-card-header>
    <div class="crop-image">
        <img [src]="product.image">
    </div>
    <mat-card-content>
        <p>{{ product.description | slice:0:10 }}</p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button [routerLink]="['/products', product.id]">ver detalles</a>
        <button (click)="addCart()" mat-raised-button color="primary">Agregar al Carrito</button>
    </mat-card-actions>
</mat-card>


<!-- <h2 appHighlight>{{product.title | titlecase }}</h2>
<img [src]="product.image">
<strong>{{product.price | currency:'EUR' }}</strong>
<p>{{ product.description | slice:0:10 }}</p>
<p>{{ today | date:'medium'}}</p>
<button (click)="addCart()" mat-raised-button color="primary">Agregar al Carrito</button>
<a [routerLink]="['/products', product.id]">ver detalles</a> -->